@media (max-width: 39.9375em) {
  .container {
    padding: 2rem 1.5rem;
  }

  .form {
    border-radius: 0.5rem;
    padding: 1.5rem;
    grid-template-columns: 1fr;
    grid-template-areas:
            "title"
            "fname"
            "lname"
            "email"
            "query_type"
            "message"
            "consent"
            "submit";
  }
  fieldset {
    grid-template-columns: 1fr;
  }

  .snackbar {
    width: calc(100% - 3rem);
  }

  .message_field {
    height: 15rem;
  }

}

@media (min-width: 40em) {

  .container {
    height: 100dvh;
    padding: 8.125rem 1.5rem;
  }

  .form {
    border-radius: 1rem;
    padding: 2.5rem;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
            "title title"
            "fname lname"
            "email email"
            "query_type query_type"
            "message message"
            "consent consent"
            "submit submit";
  }

  fieldset {
    grid-template-columns: 1fr 1fr;
  }

  .snackbar {
    width: 28.125rem;
  }

  .message_field {
    height: 6.5rem;
  }
}

// 640 px, 1024px, 1400px
$breakpoints-up: ("medium": "40em", "large": "64em", "xlarge": "87.5em");
// 639px, 1023px, 1399px
$breakpoints-down: ("small": "39.9375em", "medium": "63.9375em", "large": "87.4375em");

@mixin breakpoint-up($size) {
  @media (min-width: map-get($breakpoints-up, $size)) {
    @content;
  }
}

@mixin breakpoint-down($size) {
  @media (max-width: map-get($breakpoints-down, $size)) {
    @content;
  }
}