// Colors
// Primary
$lighter_green: hsl(148, 38%, 91%);
$medium_green: hsl(169, 82%, 27%);
$red: hsl(0, 66%, 54%);

// Neutral
$white: hsl(0, 0%, 100%);
$medium_grey: hsl(186, 15%, 59%);
$darker_grey: hsl(187, 24%, 22%);


// Font Sizes
$font-h1-l: 2.25rem; // 36px
$font-h1-s: 1.5rem; // 24px
$font-m: 1rem; // 16px
$font-s: 0.875rem; // 12px

// Font Weights
$font-weight-m: 700;
$font-weight-s: 400;
